

.square {
  font-family: fantasy, 'Poppins';
  width: 9000px;
  height: 1000px;
  background-color: #310a10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


button {
  background-color: #491b1d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #23395d;
}

button.clicked {
  background-color: #222b13;
}